<configuration scan="true" scanPeriod="30 seconds">
    
    <property name="LOG_HOME" value="c:/springmvc-angularjs-html5/logs" />
    
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        
        <!-- Daily rollover or 100Mb . Keep 7 days history-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/connect-batch-ws.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>